<p id="notice"><%= notice %></p>

<p>
  <b>Pid espn:</b>
  <%= @box_score_entry.pid_espn %>
</p>

<p>
  <b>Fname:</b>
  <%= @box_score_entry.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @box_score_entry.lname %>
</p>

<p>
  <b>Min:</b>
  <%= @box_score_entry.min %>
</p>

<p>
  <b>Fgm:</b>
  <%= @box_score_entry.fgm %>
</p>

<p>
  <b>Fga:</b>
  <%= @box_score_entry.fga %>
</p>

<p>
  <b>Tpm:</b>
  <%= @box_score_entry.tpm %>
</p>

<p>
  <b>Tpa:</b>
  <%= @box_score_entry.tpa %>
</p>

<p>
  <b>Ftm:</b>
  <%= @box_score_entry.ftm %>
</p>

<p>
  <b>Fta:</b>
  <%= @box_score_entry.fta %>
</p>

<p>
  <b>Oreb:</b>
  <%= @box_score_entry.oreb %>
</p>

<p>
  <b>Reb:</b>
  <%= @box_score_entry.reb %>
</p>

<p>
  <b>Ast:</b>
  <%= @box_score_entry.ast %>
</p>

<p>
  <b>Stl:</b>
  <%= @box_score_entry.stl %>
</p>

<p>
  <b>Blk:</b>
  <%= @box_score_entry.blk %>
</p>

<p>
  <b>To:</b>
  <%= @box_score_entry.to %>
</p>

<p>
  <b>Pf:</b>
  <%= @box_score_entry.pf %>
</p>

<p>
  <b>Plusminus:</b>
  <%= @box_score_entry.plusminus %>
</p>

<p>
  <b>Pts:</b>
  <%= @box_score_entry.pts %>
</p>

<p>
  <b>Box score id:</b>
  <%= @box_score_entry.box_score_id %>
</p>

<p>
  <b>Status:</b>
  <%= @box_score_entry.status %>
</p>


<%= link_to 'Edit', edit_box_score_entry_path(@box_score_entry) %> |
<%= link_to 'Back', box_score_entries_path %>
